# PostgreSQL
POSTGRES_PASSWORD=changethis

# Frontend Service
SECRET_KEY=changethisverylongsecretkeyformaximumsecurity
API_KEY_AUTH_ENABLED=false

# Agent Service
AGENT_ID=agent-1
AGENT_NAME=GPU-Agent-1
DEFAULT_GPU_LAYERS=35
